@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 640px;
    background-image: url('../assets/banner.png');
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.header-content-container img {
    width: 240.28px;
    height: 240px;
    margin: 0 auto
}

.header-title {
    font-size: 44px;
    font-weight: 800;
    margin: 20px 0;
}

.header-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 50%;
    margin: 0 auto;
    color: rgb(61, 63, 68);
}

.contact-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-size: 18px;
    margin: 20px auto;
    font-weight: 600;

}

/* web-development-details */
.web-development-details {
    max-width: 60%;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 100px auto;
    padding: 60px 0;
}
.details-title{
    font-size: 26px;
    font-weight: 600;
    margin: 20px 0;
    color: rgb(13, 19, 33);
}
.details-description{
    font-size: 16px;
    font-weight: 500;
    color: rgb(82, 86, 95);
    line-height: 26px
}
.web-development-details-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.details-box-1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin:0 auto;
    padding:0 40px;
    height: 250px;
    margin-top: 50px;
}

.details-box-2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border-radius: 16px;
    margin:0 auto;
    padding:0 40px;
    margin-top: 50px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    height: 250px;
}
.details-box-1-card-1{
    width: 50%;
}
.card-title{
    font-size:20px;
    color:rgba(13, 19, 33, 0.7);
    font-weight: 700;
    margin-top:16px
    
}
.card-description{
    font-weight: 400;
    color:rgb(13, 19, 33);
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
}
.Learn-more{
    padding:10px 30px;
    border:1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: transparent;
    border-radius: 4px;
}
.details-box-1-card-2{
    width: 200px;
    height: 200px;
}
.details-box-1-card-2 img{
    width: 100%;
    height: 100%;
}
/*  */
.details-box-1-card-2-2{
    width: 50%;
}
.card-title-2{
    font-size:20px;
    color:rgba(13, 19, 33, 0.7);
    font-weight: 700;
    margin-top:16px
}
.card-description-2{
    font-weight: 400;
    color:rgb(13, 19, 33);
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
}
.details-box-1-card-2-2-img{
    width: 200px;
    height: 200px;
}
.details-box-1-card-2-2-img img{
    width: 100%;
    height: 100%;
}
/* My Inspiration Section  */
.Inspiration-container{
    max-width: 60%;
    margin: 100px auto;
    /* padding: 20px 0; */

}
.Inspiration-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    text-align: center;
}
.Inspiration-title{
    font-size: 26px;
    font-weight: 700;
    color:black;
    margin-bottom:20px
}
.Inspiration-video{
    width: 100%;
    margin: 0 auto;
    height: 500px;
    padding:20px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
}
.Inspiration-video-youtube{
    border-radius: 16px;
}
.Inspiration-paragraph{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    width: 90%;
    line-height: 24px;
}
